.place__image {
	width: calc(100% + 32px);
	aspect-ratio: 1;
	align-self: center;
	box-sizing: content-box;
}

@media (min-width: 768px) {
	.place__image {
		width: 100%;
		align-self: start;
		margin: 0;
	}
}
