.place__paragraph {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 163%;
}

@media (min-width: 768px) {
	.place__paragraph {

	}
}

@media (min-width: 1024px) {
	.place__paragraph {
		font-size: 18px;
	}
}
