.lead__image {
	object-fit: cover;
	width: calc(100% + 32px);
	align-self: center;
	aspect-ratio: 8/5;
	margin: 40px 0 0 0;
}

@media (min-width: 768px) {
	.lead__image {
		width: calc(100% + 48px);
		margin: 56px 0 0 0;
	}
}


@media (min-width: 1024px) {
	.lead__image {
		width: 100%;
	}
}

@media (min-width: 1280px) {
	.lead__image {
		margin: 64px 0 0 0;
	}
}
