.intro {
	padding: 0 0 0 16px;
	max-width: 690px;
	width: 100%;
	box-sizing: content-box;
}

@media (min-width: 768px) {
	.intro {
		padding: 0 0 0 24px;
	}
}

@media (min-width: 1024px) {
	.intro {
		max-width: 690px;
		padding: 0 0 0 48px;
	}
}

@media (min-width: 1280px) {
	.intro {
		padding: 0 0 0 148px;
	}
}
