.cover {
	width: 100%;
	background-image: url("../../images/cover-trains.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	align-self: center;
	box-sizing: border-box;
	background-clip: content-box;
	max-width: 100%;
}

@media (min-width: 1280px) {
	.cover {
		padding: 0 48px 0 48px;
	}
}
