.cover {
	width: 100vw;
	aspect-ratio: 1.6;
	background-image: url("../../images/cover-trains.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	align-self: center;
	box-sizing: border-box;
	background-clip: content-box;
	max-width: 1280px;
}

@media (min-width: 1280px) {
	.cover {
		max-width: 1280px;
		padding: 0 48px;
	}
}
