.footer {
	display: flex;
	flex-direction: column;
	gap: 48px;
	padding: 0 0 24px 0;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.footer {
		flex-direction: row;
		justify-content: space-between;
		gap: 0;
	}
}

@media (min-width: 1280px) {
	.footer {
		align-self: center;
		width: 100vw;
		padding: 0 48px 24px 48px;
	}
}
